<% content_for :left_div do %>
  <h1>Rate This Request</h1>

  <%= render 'request_rating/form' %>

  <%= link_to 'Back', swarm_request_request_rating_path %>
<% end %>

<% content_for :right_div do %>
<p>  </p>
<% end %>

