
.clearboth {
  clear: both;
}

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

#fullwidth {
  margin: 0;
  display: block;
  height: 50px;
  background-color:      #333;
  border: 1px solid black;
  
}

.logopad {
  padding: 5px;
}

.infobubble {
  font-size: 10px;
}

#navbar {
	float: right;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #333;
  border-left: 1px solid black;
	 

}

#navbar li {
	float: right; 
}

#navbar li a {
	display: block;
	padding: 16px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: 1px solid black;   
}




#nav li a:hover {
  color:white;
	background-color: black; 
}

.signin {
  font-size: 12px;
  font-weight: bold;
  color: white;
}


.smallwhite {
  color: white; 
  font-weight: bold; 
  font-size: 12px;
  padding: 16px;
}

a.bigwhitelink:link { color: white; font-weight: bold; font-size: 18px }
a.bigwhitelink:visited { color: white; font-weight: bold; font-size: 18px}
a.bigwhitelink:hover { color: white; font-weight: bold; font-size: 18px }

a.smallwhitelink:link { color: white; font-weight: bold; font-size: 12px }
a.smallwhitelink:visited { color: white; font-weight: bold; font-size: 12px}
a.smallwhitelink:hover { color: white; font-weight: bold; font-size: 12px }

a.learnmore:link { color: white; background-color: #333; font-size: 14px }
a.learnmore:visited { color: white; background-color: #333; font-size: 14px}
a.learnmore:hover { color: white; background-color: black; font-size: 14px }

.midsizetext {
  font-size: 22px;
  font-weight: bold;
}

.redlarge {
  font-size: 40px;
  line-height: 90%;
  font-weight: bold;
  font-style: italic;
  color: #FF0022;
}

.bigfont {
  font-size: 30px;
  line-height: 90%;
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
}
 
}

.roundcontent {
  margin-top:            10px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;

}

.maptop10 {
  margin-top: 10px;
  

}

.rounddashed {
 
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-style:           dashed;
  border-width:           3px;
  border-color:           #FF3333
  height:                 220px;
}


}

.roundsmallgreybot {
  
  background-color:       #333;
  color: white;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;


}

.memberinfo {
  height:                 140px;
  border:                 dashed 2px #AAD400;
  background-color:       #e5ff7d;

}

.ratinginfo {
  height:                 140px;
  background-color:       #AAD400;
  border:                 solid 2px #AAD400;
}


.makerequestbutton {
  display:                 block;
  height:                     20px;
  width:                      80px;
  margin-top:                 10px;
  text-align:             center;
  font-size:              24px;
  font-weight:            bold;
  line-spacing:           5 px;
  color:                  white;
  background-color:       #AAD400;
  padding:                5px; 
  border-top:                 1px solid #333;
  border-left:                 1px solid #333;
  border-right:                 1px solid #333;
}


.mapitself {
  margin-top:            10px;
  width:                 100%;
  height:                300px;
  margin:                auto;
}

.blurb {

  font-size: 16px;
}

.blurbsmall {
  font-size: 12px;
  margin-top:      10px;
  margin-bottom:   10px;
  margin-left:     10px;
  margin-right:    10px;
}

.blurbsmallwhite {
  font-size: 12px;
  margin-top:      10px;
  margin-bottom:   10px;
  margin-left:     10px;
  margin-right:    10px;
}


.bigtext {
  font-size:  82px;
  font-weight: bold;
  

}

.textcenter {
  text-align: center;
}

.right {
  
  text-align: right;
}

.left {
  float:      left;
  text-align: left;
}


.center {
  margin-top:    auto;
  margin-bottom: auto;
}

.button {
  margin: 0px 10px;
  font-family: helvetica;
  font-weight: bold;
  height:      30px;
  border:      dotted 1px #333;

  
}


