.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

.roundheading {
  height:                40px;
  margin-top:            10px;
  margin-bottom:         10px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  
}

.roundcontent {
  margin-top:            10px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  height:                470px;
}

.roundmap {
  margin-top:            10px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  height:                470px;
}

.mapitself {
  width:                 400px;
  height:                400px;
  margin:                auto;
}

.blurb {
  margin:    10px;
  font-size: 16px;
}

.textcenter {
  text-align: center;
}

.right {
  float:      right;
  text-align: right;
}

.center {
  margin-top:    auto;
  margin-bottom: auto;
}

.getbutton {
  margin: 0px 10px;
  background-color: yellow;
  font-variant: small-caps;
  font-family: helvetica;
  font-weight: bold;
  height:      40px;
  border:                solid 3px #1A1A1A;
  
}

.deliverbutton {
  margin: 0px 0px 10px;
  background-color: yellow;
  font-variant: small-caps;
  font-family: helvetica;
  font-weight: bold;
  height:      40px;
  border:                solid 3px #1A1A1A;
  
}

.padding {
  padding: 3%;

