<div id="content" class="grid_6 alpha roundcontent">
  <h1>Join the Swarm Revolution.</h1>
  <p class="blurb">So here's the elevator pitch.  <span style ="bigtext">Swarm is a crowdsourced local delivery service.</span>  That's it.  
Really.  We've all been right in the middle of cooking dinner and realize we forgot an ingredient.  If you're lucky,
you can call a friend who's already at the store, or driving home from work and can stop by for you.  Well, 
imagine if you had thousands of friends all around you, each in a different location.  With swarm you can have those 
friends.  Need paper towel?  Watching a movie, and need ice cream?  Forgot finish nails for your craft project?  
Swarm it.  There's no spam, no extensive signup process.  Just create a username, put in a valid email address, 
and you're ready to swarm.</br>
  </p>
</div>
