<div id="content" class="grid_6 alpha roundcontent">
  <h1>Join the Swarm Revolution.</h1>
  <p class="alpha blurb">So here's the elevator pitch: </br> <div class ="redlarge">Swarm is crowdsourced local delivery.</div></br>
<p> That's it.  
Really.  Imagine this: You're in the middle of cooking dinner and realize you forgot an ingredient.  If you're lucky,
you can call a friend who's already at the store, or happens to be driving home from work and can pick it up for you.  It 
usually doesn't work out like that.</br></br>
But imagine if you had thousands of friends all around you, each in a different location.  With swarm you can have those 
friends.  Need paper towels?  Watching a movie, and want popcorn or ice cream?  Forgot finish nails for your craft project?  
Swarm it.  There's no spam, no extensive signup process.  Just create a username, put in a valid email address, 
and you're ready to swarm.</br></br>

We're calling this the beta release of swarm.  We need your help.  If you have any suggestions to improve 
the usability/flow of the site, would like to suggest a cool feature, or have any other questions, please 
do not hesitate to email me at kevin@kungquinn.com
</br></br>

  </p>
</div>
