<div id="content" class="grid_6 alpha roundcontent">
  <p class="bigtext">
    Hi.
  </p>
  <p class="blurb">  Swarm is a fun and easy way to get what you need or want, by harnessing the power of your
  community.  Make a request, or pick up something for someone else.  It's easy, it's fun, and
  best of all, you can make money and save time by participating. <%= link_to "LEARN MORE", about_path, :class => "learnmore" -%></span>
  </p>
</div>

  
   <div class= "grid_4">
     <%= render 'layouts/map' %>
     <h1 class="textcenter"> Current Requests </h1>
   </div>

      <div class="grid_2 omega">
        <div class="roundsmallgreytop omega">
          <p class = "blurbsmall">The markers on the map represent actual delivery requests.  Click on one of 
        the markers to place a delivery bid!
          </p>
        </div>

        <div class="roundsmallgreybot omega">
          <p class = "blurbsmall">By placing a bid, an email is sent to the Requester.  If they accept, you will get
        an email letting you know.
          </p>
        </div>
      </div>


<div class="grid_3 alpha roundsmall1">
  <h1 class = "textcenter">Get Things.</h1>
  <p class = "blurbsmall">Making a request on Swarm is as easy as you would imagine.  Tell your community what you need, and where
you are, and your request can be viewed and bid by people on the Swarm Network.
</div>

<div class = "grid_3 roundsmall2">
  <h1 class = "textcenter">Deliver Things.</h1>
  <p class = "blurbsmall">Delivering items to others is a great way help out your fellow community members.  And the great part
 is, you can actually make money by delivering things.<p>
</div>

<div class="grid_3">
  <h1 class="textcenter">Save Money.</h1>
  <p class = "blurbsmall">Using swarm to get everyday items is a great way to save time and money.  The 
delivery prices on Swarm are drastically lower than typical delivery services.<p>
</div>

<div class="grid_3 roundsmall2">
  <h1 class="textcenter">Help the Planet.</h1>
  <p class = "blurbsmall">No, really.  Swarm reduces the amount of trips people take.  It efficiently allocates 
our limited resources by consolidation.  Why make a trip if someone is already there?<p>
</div>

