<div id="content" class="grid_6 alpha roundcontent">
  <p class="blurb">  Swarm is a fun and easy way to get what you need or want, by harnessing the power of your
  community.  Make a request, or pick up something for someone else.  It's easy, it's fun, and
  best of all, you can make money and save time by participating.</br</br></br>

  This is the beta release of Swarm.  It's dirty, but it works.  I could use your help.  If you have any suggestions,
  that would improve the user experience, or any comments or questions, please feel free to let me know.</br></br>

      kevin@kungquinn.com</p>
</div>
<div id="map" class="grid_6 omega roundmap">
  <h1 class="textcenter"> Current Requests </h1>
   <%= render 'layouts/map' %>
</div>
