<ul id="navbar">
   <li id="navlinks"><%= link_to "About", about_path %></li>
   <li id="navlinks"><%= link_to "Get", get_path %></li>
   <li id="navlinks"><%= link_to "Deliver", deliver_path %></li>
</ul>
